https://github.com/wazo-platform/wazo-lib-rest-client/archive/master.zip
https://github.com/wazo-platform/wazo-amid-client/archive/master.zip
https://github.com/wazo-platform/wazo-auth-client/archive/master.zip
https://github.com/wazo-platform/xivo-fetchfw/archive/master.zip
https://github.com/wazo-platform/xivo-lib-python/archive/master.zip
automat==0.6.0  # from twisted
incremental==16.10.1  # from twisted
jinja2==2.10
markupsafe==1.1.0  # from jinja2
pyopenssl==19.0.0
pyyaml==3.13
requests==2.21.0
six==1.12.0
stevedore==1.29.0
twisted==18.9.0
zope.interface==4.7.2
