git+https://github.com/xivo-pbx/xivo-fetchfw.git
git+https://github.com/xivo-pbx/xivo-lib-python.git
beautifulsoup==3.2.1  # from xivo-fetchfw
jinja2==2.7
pyopenssl==0.14
twisted==14.0.2
zope.interface==4.1.1
