Source: xivo-provisioning
Section: python
Priority: extra
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: debhelper (>= 9), dh-python, dh-systemd (>= 1.5), python-all (>= 2.7), python-setuptools
Standards-Version: 3.9.6
X-Python-Version: >= 2.7

Package: xivo-provd
Architecture: all
Pre-Depends: xivo-libprovd, ${misc:Pre-Depends}
Depends: ${python:Depends}, ${misc:Depends}, adduser
Description: Wazo provisioning daemon
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
 This is the provisioning daemon for Wazo.
 .

Package: xivo-libprovd
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, xivo-fetchfw, xivo-lib-python, python-jinja2, python-openssl, python-twisted-core, python-twisted-web
Description: Wazo provisioning daemon
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
 This is the provisioning daemon for Wazo.
 .

Package: xivo-dhcpd-update
Architecture: all
Pre-Depends: xivo-libprovd, ${misc:Pre-Depends}
Depends: ${python:Depends}, ${misc:Depends}
Description: Wazo dhcpd configuration file for Wazo
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
 This is dhcpd configuration files for Wazo.
 .
