Source: wazo-provd
Section: python
Priority: extra
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: debhelper (>= 10), dh-python, python3-all, python3-setuptools
Standards-Version: 3.9.6
X-Python3-Version: >= 3.9

Package: wazo-provd
Architecture: all
Provides: xivo-provd, xivo-libprovd
Conflicts: xivo-provd, xivo-libprovd
Replaces: xivo-provd, xivo-libprovd
Pre-Depends: ${misc:Pre-Depends}
Depends:
    ${python3:Depends},
    ${misc:Depends},
    adduser,
    python3-jinja2,
    python3-kombu,
    python3-openssl,
    python3-pydantic,
    python3-twisted,
    rename,
    unar,
    unrar-free,
    unzip,
    wazo-amid-client-python3,
    wazo-auth-client-python3,
    wazo-bus-python3,
    xivo-lib-fetchfw-python3,
    xivo-lib-python-python3
Description: Wazo provisioning daemon
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
 This is the provisioning daemon for Wazo.
 .

Package: wazo-dhcpd-update
Architecture: all
Provides: xivo-dhcpd-update
Conflicts: xivo-dhcpd-update
Replaces: xivo-dhcpd-update
Pre-Depends: ${misc:Pre-Depends}
Depends: ${python3:Depends}, ${misc:Depends}
Description: Wazo dhcpd configuration file for Wazo
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
 This is dhcpd configuration files for Wazo.
 .
